<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['bar']" [routerLinkActive]="'active'">Barra</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['line']" [routerLinkActive]="'active'">Lineas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/doughnut">Dona</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/radar">Radar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pie">Pie</a>
  </li>
</ul>