<div>
  <div>
    <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
<div>
  <button class="btn btn-primary mr-1" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
  <button class="btn btn-primary mr-1" (click)="changeLabels()">Change Labels</button>
  <button class="btn btn-primary mr-1" (click)="addSlice()">Add Slice</button>
  <button class="btn btn-primary mr-1" (click)="removeSlice()">Remove Slice</button>
  <button class="btn btn-primary" (click)="changeLegendPosition()">Change Legend Position</button>
</div>